html {
  box-sizing: border-box; 
  background: #eeeeee;
  font-family: 'Courier New', Courier, monospace; 
  font-size: 20px;
  font-weight: 200;
}

body {
    margin: 0;
}

header {
    text-align: center;
    height: 50vh;
    background: whitesmoke;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin : 0;
    font-size: 5em;
}

nav {
    width: fit-content;
    align-items: center;
    transition: all 0.5s;
    z-index: 1;
    margin-top:20px;
    margin-left:45%;
    margin-bottom: 20px;
    border: 2px solid #DAA520;
    border-radius: 20%;
    background: #DAA520;
}

nav ul {
    background: #DAA520;
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
}
nav li {
   margin: 0%;
   flex: 1;
   text-align: center;
   font-size: 2em;
   color: whitesmoke;
}

nav:hover {
    transform: scale(3);
}

nav:active {
    color: grey;
}

#container {
    width: 80%;
    margin-left:10%;
    background-color: steelblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.fixedNav nav {
    position: fixed;
    top: 0;
}
#main {
    margin-bottom:30px;
}
